@font-face {
	font-family: “Roboto”;
	src: url(“Roboto/Roboto-Regular.ttf”)
}

html {
    font-size: 12px;
    margin: 0px;
}

body {
    margin: 0px;
}

p {
    font-family: "Roboto";
    font-family: 'Mingzat', sans-serif;
    font-family: 'Finlandica', sans-serif;
    font-size: 2rem; /*root em*/
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 2rem;
    }
}

span {
    font-size: 1.3rem; /* root em */
}

a {
    font-size: 1rem;
    font-size: 2rem ;
}

@media screen and (max-width: 768px) {
    a {
        font-size: 2rem;
    }
}


i {
    font-size: 3rem;
    color:rgb(65, 69, 68);
}

.green {
    color: green;
}

#apple {
    color: red;
}

a {
 font-size: 2rem !important;
}

.video_block {
    width: 100%;
    margin: 0px;
}

.video_player {
    width: 100%;
    opacity: 0.5;
}




@media screen and (max-width: 768px) {
    .video_player {
        border: 10px solid red;
    }

    body {
        background-color:cadetblue;
    }

    p {
        font-size: 2.5rem;
    }
}


@media screen and (max-width: 414px) {
    .video_block {
        text-align:center;
    }
    .video_player {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        background-color:blanchedalmond;
    }

    p {
        font-size: 3rem;
    }
}


@media screen and (max-width: 375px) {

    body {
        background-color: beige;
    }

    p {
        font-size: 4rem !important;
    }

    .video_player {
        border: 10px solid rgb(50, 27, 120);
    }
}
